body {
  background: #99d600;
}

img {
  width: 100%;
  height: 90%;
}

.panel-title {
  color: black;
  /* background-color: #00d8bb; */
  margin-color: #00d8bb;
  /* margin-style: groove; */
  /* margin-width: thick; */
  /* border-color: #133; */
  /* border: solid; */
  text-align: center;
  width: 97%
}

.panel-body {
  background-color: #f999fc;
  font-size: 1.5em;
  border-color: #00d8bb;
  border-width: thick;
  border-style: groove;
  padding: inherit;
  text-align: center;
}
ul {
  list-style-type: none;
}


.changeColor {
  color: #ff0090;
}

.container-fluid {
  text-align-last: center;
  text-shadow: .1em .1em #ffffff;
  color: #ff0090;
}
